<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AlphabetColoring.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,183},{126,180}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{126,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>AlphabetFirstWords.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,355},{154,174}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,13},{154,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>AlphabetMatching.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1},{126,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,12},{126,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>AlphabetPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,363},{116,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,8},{116,178}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>AlphabetSong.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,365},{126,180}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,8},{126,180}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FourLetter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,183},{142,182}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{142,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FunRhyming.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,175},{172,170}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{172,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>FunRhymingPlus.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1},{172,174}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{172,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PhonicsLongVowel.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,179},{160,176}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{160,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>PhonicsShortVowel.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1},{170,170}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{170,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>ThreeLetter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{156,182}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,7},{156,182}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>moregamesBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,347},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,512}</string>
            <key>textureFileName</key>
            <string>otherGamesIcons.pvr.ccz</string>
        </dict>
    </dict>
</plist>
